.firstland {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 80px;
  height: calc(100vh - 80px);
}
.left__firstland {
  padding-top: 15vh;
  padding-left: 10%;
  padding-right: 50px;
}

.left__firstland > h2 {
  font-size: 30px;
  font-weight: 100;
  margin: 0;
}
.left__firstland > h1 {
  font-size: 125px;
  font-weight: 500;
  letter-spacing: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: left;
  padding: 0;
  text-overflow: clip;
}
.left__firstland > p {
  line-height: 25px;
  padding-top: 13px;
}

.buttonPadding {
  margin-top: 13px;
}
