* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #cea82e;
  --lighter-main-color: rgba(197, 177, 62, 0.8);
  --gray-color: #707070;
  --inside-button-color: #fff;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background: var(--lighter-main-color);
  border-radius: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.outlineButton {
  background-color: white;
  border: 3px solid var(--main-color);
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  color: black;
}
.outlineButton:hover {
  background-color: var(--main-color);
  color: var(--inside-button-color);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
